<div class="container">
<div class="error-message"><%= render "layouts/error", obj: @customer %></div>
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 my-5">
        会員情報編集
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-12 col-md-8 col-lg-6 pb-5">
      <%= form_with model: @customer, url: customer_path(@customer),method: :patch,local:true do |f| %>
        <div class="form-group">
          <%= f.label :画像 ,class: "customer-text" %><br>
          <%=  f.file_field :customer_image, accept: 'image/*' %>
        </div>
        <div class="form-group">
          <%= f.label :ニックネーム ,class: "customer-text"%>
          <%= f.text_field :name, class: "form-control devise-form" %>
        </div>
        <div class="form-group">
            <%= f.label :メールアドレス ,class: "customer-text" %>
            <%= f.email_field :email, class: "form-control devise-form" %>
        </div>
        <div class="form-group mt-5">
            <%= f.submit" 編集内容を保存 ",class: "btn btn-blue mr-3" %>
            <%= link_to" 退会する ",unsubscribe_path(@customer),class: "btn btn-red" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

