<div class="container">
<div class="error-message"><%= render "layouts/error", obj: @customer %></div>
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 my-5">
        会員情報編集
      </h5>
    </div>
  </div>
  <%= form_with model: @customer, url: customer_path(@customer),method: :patch,local:true do |f| %>
  <div class="row">
    <div class="mx-auto col-10 col-md-6 col-lg-5 pb-5">
        <div class="form-group">
          <%= f.label :画像 ,class: "customer-text" %><br>
          <%=  f.file_field :customer_image, accept: 'image/*' %>
        </div>
        <div id="customer-image-preview"><!--画像のプレビュー-->
          <% if @customer.customer_image.attached? %>
            <%= image_tag @customer.get_customer_image(500,500), id: "customer-preview" %>
          <% end %>
        </div>
    </div>
    <div class="mx-auto col-10 col-md-6 col-lg-5 pt-lg-5 pt-md-5">
      <div class="form-group">
        <%= f.label :ニックネーム ,class: "customer-text"%>
        <%= f.text_field :name, class: "form-control devise-form" %>
      </div>
      <div class="form-group">
          <%= f.label :メールアドレス ,class: "customer-text" %>
          <%= f.email_field :email, class: "form-control devise-form" %>
      </div>
      <div class="form-group my-5 customer-edit-btn pt-lg-3">
        <%= f.submit" 更新する ",class: "btn btn-blue" %>
        <%= link_to" 退会する ",unsubscribe_path(@customer),class: "btn btn-red" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

