<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        <% if @customer == current_customer %>
          マイページ
        <% else %>
          <%= @customer.name %>さんのマイページ
        <% end %>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-xs-12 col-md-5 col-lg-5 my-3">
      <%= image_tag @customer.get_customer_image(500,500),class: "customer-image" %>
      <h5 class="text-center customer-text"><i class="far fa-user"></i><%= @customer.name %></h5>
    </div>
    <div class="btn-wrapper mx-auto col-xs-12 col-md-6 col-lg-7 my-5 pt-lg-3">
      <% if @customer.name != "ゲストユーザー" %>
        <%= link_to"レシピ投稿",new_recipe_path, class: "btn btn-block btn-green mb-3" %>
        <% if @customer == current_customer %>
          <%= link_to"お気に入りレシピ一覧",favorites_path(@customer), class: "btn btn-block btn-green mb-3" %>
          <%= link_to"会員情報編集",edit_customer_path(@customer), class: "btn btn-block btn-green" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="pl-3 pr-4 mt-5 mb-3">
        <span class="my-recipe px-3 py-2">
          <% if @customer == current_customer %>
            マイレシピ一覧
          <%else%>
            <%= @customer.name %>さんのマイレシピ
          <%end%>
        </span>
      </h5>
    </div>
  </div>
  <% if @customer.recipes.present? %>
  <div class="card-list-container">
    <div class="row">
      <%= render"public/recipes/recipes",recipes: @recipes %>
    </div>
  </div>
  <% else %>
    <div class="row">
      <p class="ml-5 my-5">〜マイレシピはありません〜</p>
    </div>
  <% end %>
</div>

<div class="row my-3">
  <div class="mx-auto"><%= paginate @recipes %></div>
</div>