<div class="container">
  <div class="col-lg-offset-2 col-xs-offset-1">
    <div class="row">
      <div class="col">
        <h5 class="midashi pl-3 pr-4 my-5">
          <%=@recipe.title%>
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-5 my-3 mx-auto d-flex justify-content-center">
        <%= image_tag @recipe.get_recipe_image(1000,1000),class: "recipe-show-image" %>
      </div>
      <div class="col-xs-12 col-md-10 col-lg-5 pt-lg-3 mx-auto">
        <p><%= @recipe.description%></p>
        <span class="text-muted small"><%= @recipe.created_at.strftime('%Y/%m/%d')%></span>
        <p>
          <%= link_to admin_customer_path(@recipe.customer) do%>
          <%= image_tag @recipe.customer.get_customer_image(100,100),class: "recipe-customer-image" %>
          <span class="name-link"><%= @recipe.customer.name%></span>
          <% end %>
        </p>
        <p>
          <%= @recipe.favorites.count %>いいね
        </p>
        <p class="recipe-heading">材料（<%= @recipe.serving %>人前）</p>
        <table class="table table-sm table-borderless">
          <tbody>
            <% @ingredients.each do |ingredient|%>
            <tr class="recipe-table">
              <td><div class="ml-3"><%= ingredient.content%></div></td>
              <td><div class="text-right mr-3"><%= ingredient.quantity%></div></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-lg-1"></div>
    </div>

    <div class="row mt-3">
      <div class="col-xs-12 col-md-10 col-lg-10 mx-auto">
      <p class="recipe-heading">作り方</p>
      <table class="table table-sm table-borderless">
        <tbody>
          <% @steps.each do |step|%>
          <tr class="recipe-table">
            <td><div class="ml-3"><%= step.step_description %></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10 col-xs-12 mx-auto mt-4 mb-2">
        <% @recipe.tags.each do |tag| %>
          <%= link_to search_tag_recipes_path(tag_id: tag.id),class: "tag-button mr-3 px-2" do %>
            <i class="fas fa-tag"></i> <%= tag.name %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto col-lg-10 col-md-10 col-12 text-right">
        <%= link_to admin_recipe_path(@recipe),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-red my-5" do %>
          <i class="fas fa-trash-alt"></i> レシピ削除
        <% end %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-xs-6 col-md-10 col-lg-8 mx-auto">
        <p class="comment-heading">レシピレビュー</p>
        <div id="comment_list">
          <% if @recipe.comments.present? %>
            <%= render"admin/comments/comment_list", comments: @comments %>
          <% else %>
            <p class="ml-2 my-3">レシピレビューはありません</p>
          <% end %>
        </div>
        <div class="row my-3">
          <div class="mx-auto"><%= paginate @comments %></div>
        </div>
      </div>
    </div>
  </div>
</div>
