<% recipes.each do |recipe| %>
<div class="col-sm-9 offset-sm-2 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
  <div class="card-link my-3">
    <div class="card my-3 mx-2">
        <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.get_recipe_image(250,250),class: "card-img-top" %>
          <div class="card-body">
            <span class="text-muted small"><%= recipe.created_at.strftime('%Y/%m/%d') %></span>
            <h5 class="card-title"><%= recipe.title %></h5>
            <p class="card-text recipe-text"><%= recipe.description %></p>
        <% end %>
            <p class="card-text"><i class="far fa-comment-dots"></i><%= recipe.comments.count %></p>
            <p class="card-text"><i class="fas fa-heart" aria-hidden="true"></i><%= recipe.favorites.count%></p>
      </div>
    </div>
  </div>
</div>
<%end%>
