<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        レシピ一覧
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-3 ml-3">
      <div class="dropdow dropdow-expand-lg">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to recipes_path(latest: true) ,class: "dropdown-item btn btn-blue mr-3" do %>
        <i class="fas fa-star"></i> 新着順
      <% end %>
      <%= link_to recipes_path(favorite: true) ,class: "dropdown-item btn btn-yellow mr-3" do %>
        <i class="fas fa-crown"></i> 人気順
      <% end %>
      <%= link_to recipes_path(week_favorite: true) ,class: "dropdown-item btn btn-green" do %>
        <i class="fas fa-crown"></i> 週間人気順
      <% end %>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-3 ml-3">
      <%= link_to recipes_path(latest: true) ,class: "btn btn-blue mr-3" do %>
        <i class="fas fa-star"></i> 新着順
      <% end %>
      <%= link_to recipes_path(favorite: true) ,class: "btn btn-yellow mr-3" do %>
        <i class="fas fa-crown"></i> 人気順
      <% end %>
      <%= link_to recipes_path(week_favorite: true) ,class: "btn btn-green" do %>
        <i class="fas fa-crown"></i> 週間人気順
      <% end %>
    </div>
  </div>


  <div class="card-list-container">
    <div class="row">
      <%=render"recipes",recipes: @recipes%>
    </div>
  </div>

  <div class="row my-3">
    <div class="mx-auto"><%= paginate @recipes %></div>
  </div>
</div>
