<div class="container">
  <div class="error-message"><%= render "layouts/error", obj: @recipe %></div>
    <div class="col-lg-offset-2 col-xs-offset-1">
      <div class="row">
        <div class="col">
          <h5 class="midashi pl-3 pr-4 my-5">
            レシピ新規作成
          </h5>
        </div>
      </div>

        <%= form_with model:@recipe, url: recipes_path,method: :post,local: true do |f| %>
          <div class="row">
            <div class="col-lg-4 col-md-5 col-xs-12">
              <div class="form-group">
                <div class="recipe-heading mb-2"><%= f.label:レシピタイトル %></div>
                <%= f.text_field :title,:placeholder=>"レシピのタイトル", class: "recipe-frame form-control"%>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-5 col-xs-12">
              <div class="form-group">
                <div class="recipe-heading mb-2"><%= f.label:料理の写真 %></div>
                <%= f.file_field :recipe_image, accept: 'image/*' %>
              </div>
              <!--画像のプレビュー-->
              <img id="preview">
            </div>

            <div class="col-lg-8 col-md-7 col-xs-12">
              <div class="form-group">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <div class="recipe-heading mb-2"><%= f.label:説明 %></div>
                        <%= f.text_area :description, :placeholder=> "レシピの説明、コツ、ポイントなど" , class: "recipe-frame form-control"%>
                      </td>
                    </tr>
                    <tr>
                      <td class="form-inline">
                        <%= f.number_field :serving, min: 1, :placeholder=> "※選択して下さい" , class: "recipe-frame form-control w-25"%>人前
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="recipe-heading mb-3">材料</div>
                <%= f.fields_for :ingredients do |ingredient| %>
                  <%= render "ingredient_fields", f: ingredient %>
                <%end%>
                <div class="col-lg-4 col-md-4 col-xs-6 mx-auto add-form">
                  <%= link_to_add_association "材料を追加", f, :ingredients,class: "btn btn-block btn-sm btn-success" %>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-10 col-xs-12 mx-auto">
            <div class="recipe-heading mb-3">作り方</div>
              <%= f.fields_for :steps do |step| %>
                <%=  render"step_fields",f: step %>
              <% end %>
              <div class="col-lg-4 col-md-4 col-xs-6 mx-auto add-forms">
                  <%= link_to_add_association "作り方を追加", f, :steps,class: "btn btn-block btn-sm btn-success" %>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-md-10 col-xs-12 mx-auto my-5">
            <div class="recipe-heading mb-3">タグ付け（複数選択可）</div>
            <div class="form-group mx-2">
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <%= tag.label do %>
               <div class="tag-button mr-3 px-2">
                <%= tag.check_box %>
                <%= tag.text %>
               </div>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mx-auto mb-5">
            <%= button_tag type: 'submit',class: "btn btn-yellow" do%>
              <i class="fab fa-pagelines"></i> レシピ投稿
            <% end %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
