<div class="container">
    <div class="col-lg-offset-2 col-xs-offset-1">
      <div class="row">
        <div class="col">
          <h5 class="midashi pl-3 pr-4 my-5">
            レシピ新規作成
          </h5>
        </div>
      </div>

        <%= form_with model:@recipe, url: recipes_path,method: :post do |f| %>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <%= f.label:タイトル ,class:"recipe-form"%>
                <%= f.text_field :title,:placeholder=>"レシピのタイトル", class: "form-control"%>
              </div>
              <div class="form-group">
                <%= f.label:料理の写真 ,class:"recipe-form"%>
                <%= f.file_field :recipe_image, accept: 'image/*' %>
              </div>
              <%=image_tag "noimage.jpg",size:"300x300"%>
            </div>

            <div class="col-8">
              <div class="form-group">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <%= f.label:説明 ,class:"recipe-form"%></br>
                        <%= f.text_area :description, :placeholder=> "レシピの説明、コツ、ポイントなど" , class: "form-control"%>
                      </td>
                    </tr>
                    <tr>
                      <td class="form-inline">
                        <%= f.number_field :serving, min: 1, :placeholder=> "※選択して下さい" , class: "form-control w-25"%>人前
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td class="recipe-form">材料</td>
                    </tr>
                    <%= f.fields_for :recipe_ingredients do |ingredient| %>
                    <tr>
                      <%= render "ingredient_fields",f: ingredient %>
                    </tr>
                    <% end%>
                  </tbody>
                </table>
              <div class="add-form">
                <%#= link_to_add_association "材料を追加", f, :recipe_ingredients,
                  class: "btn btn-secondary btn-block"%>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <h6 class="recipe-form ml-3">作り方</h6>
            <div class="col-lg-12 col-xs-12">
              <%= f.fields_for :steps do |step| %>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <%=  render"step_fields",f: step %>
                    </tr>
                  </tbody>
                </table>
              <% end %>
              <div class="col-4 mx-auto add-forms">
                  <%= link_to_add_association "作り方を追加", f, :steps,class:"btn btn-block btn-sm btn-step"%>
              </div>
            </div>
        </div>
        <%= f.submit "レシピ投稿", class: "btn btn-warning" %>
        <% end %>
    </div>
  </div>