<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        ”<%#= @search.result.recipes.title %>”の検索結果
      </h5>
      <p class="m-2 px-3">全<span class="recipe-count"><%= @search.result.count %></span>件見つかりました！</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3 ml-3">
      <%= link_to search_recipes_path(latest: true) ,class: "btn btn-blue mt-3 mr-3" do %>
        <i class="fas fa-star"></i> 新着順
      <% end %>
      <%= link_to search_recipes_path(favorite: true) ,class: "btn btn-yellow mt-3 mr-3" do %>
        <i class="fas fa-crown"></i> 人気順
      <% end %>
      <%= link_to search_recipes_path(week_favorite: true) ,class: "btn btn-green mt-3" do %>
        <i class="fas fa-crown"></i> 週間人気順
      <% end %>
    </div>
  </div>

  <div class="card-list-container">
    <div class="row">
      <%=render"recipes",recipes: @recipes%>
    </div>
  </div>

  <div class="row my-3">
    <div class="mx-auto"><%= paginate @recipes %></div>
  </div>
</div>
