<div class="container">
<% if @result.present? %>
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        ”<%= params[:q][:title_or_ingredients_content_cont] %>”の検索結果
      </h5>
      <p class="m-2 px-3">全<span class="recipe-count"><%= @result.count %></span>件見つかりました！</p>
    </div>
  </div>

  <% if customer_signed_in? %>
  <div class="row">
    <div class="col-md-12 mb-3 ml-3">
      <%= link_to search_recipes_path(latest: true, q: {title_or_ingredients_content_cont: params[:q][:title_or_ingredients_content_cont]} ),class: "btn btn-blue mt-3 mr-3" do %>
        <i class="fas fa-star"></i> 新着順
      <% end %>
      <%= link_to search_recipes_path(favorite: true, q: {title_or_ingredients_content_cont: params[:q][:title_or_ingredients_content_cont]}) ,class: "btn btn-yellow mt-3 mr-3" do %>
        <i class="fas fa-crown"></i> 人気順
      <% end %>
      <%= link_to search_recipes_path(week_favorite: true, q: {title_or_ingredients_content_cont: params[:q][:title_or_ingredients_content_cont]}) ,class: "btn btn-green mt-3" do %>
        <i class="fas fa-crown"></i> 週間人気順
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="card-list-container">
    <div class="row">
      <%=render"recipes",recipes: @recipes%>
    </div>
  </div>

  <div class="row my-3">
    <div class="mx-auto"><%= paginate @recipes %></div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        ”<%= params[:q][:title_or_ingredients_content_cont] %>”の検索結果
      </h5>
      <p class="m-2 px-3">全<span class="recipe-count">0</span>件</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <p>お探しのレシピは見つかりませんでした。</p>
      <p>検索ワードをより一般的なものへ置き換えてみてください。</p>
    </div>
    <div class="col-10 col-lg-6 mx-auto mb-5">
      <%= image_tag"mountain.jpg" ,class: "nosearch-image"%>
    </div>
  </div>
<% end %>
</div>
