<div class="container">
  <div class="col-lg-offset-2 col-xs-offset-1">
    <div class="row">
      <div class="col">
        <h5 class="midashi pl-3 pr-4 my-5">
          <%=@recipe.title%>
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-10 col-lg-3 my-3 mx-auto d-flex justify-content-center">
        <%= image_tag @recipe.get_recipe_image(300,300)%>
      </div>
      <div class="col-sm-5 col-md-7 col-lg-5 pt-lg-3">
        <p><%= @recipe.description%></p>
        <span class="text-muted small"><%= @recipe.created_at.strftime('%Y/%m/%d')%></span>
        <p>
          <%= link_to customer_path(@recipe.customer) do%>
          <%= image_tag @recipe.customer.get_customer_image(40,40),class: "rounded-circle"%>
          <span class="name-link"><%= @recipe.customer.name%></span>
          <% end %>
        </p>
        <p>
          <span id="favorite_buttons_<%=@recipe.id%>"><%= render"public/favorites/favorites",recipe: @recipe %></span>
        </p>
        <p class="recipe-heading">材料（<%= @recipe.serving %>人前）</p>
        <table class="table table-sm table-borderless">
          <tbody>
            <% @ingredients.each do |ingredient|%>
            <tr class="recipe-table">
              <td><div class="ml-3"><%= ingredient.content%></div></td>
              <td><div class="text-right mr-3"><%= ingredient.quantity%></div></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1 pt-lg-3"></div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
      <p class="recipe-heading">作り方</p>
      <table class="table table-sm table-borderless">
        <tbody>
          <% @steps.each do |step|%>
          <tr class="recipe-table">
            <td><div class="ml-3"><%= step.step_description %></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <% if @recipe.customer==current_customer %>
          <%= link_to edit_recipe_path(@recipe),class: "btn btn-green my-5 mr-3" do %>
            <i class="fas fa-edit"></i> レシピ編集
          <% end %>
          <%= link_to recipe_path(@recipe),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-red my-5 mr-5" do %>
            <i class="fas fa-trash-alt"></i> レシピ削除
          <% end %>
        <% else %>
          <span id="report_buttons_<%=@recipe.id%>"><%= render "public/reports/reports",recipe: @recipe %></span>
        <% end %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-6 col-md-7 col-lg-8">
        <p class="comment-heading">レシピレビュー</p>
        <div id="comment_list">
          <%= render"public/comments/comment_list", recipe: @recipe %>
        </div>
      </div>
      <% if @recipe.customer!=current_customer %>
        <div class="col-sm-6 col-md-5 col-lg-4 d-flex align-items-end">
          <%= render"public/comments/comment_form", recipe: @recipe, comment: @comment %>
        </div>
      <% end %>
    </div>

  </div>
</div>
