<div class="container">
<div class="error-message"><%= render "layouts/error", obj: @forum %></div>
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        トピック作成
      </h5>
    </div>
  </div>
  <%= form_with model:@forum, url: forums_path, method: :post, local: true do |f| %>
    <div class="row">
      <div class="mx-auto col-12 col-md-8 col-lg-6 mt-4">
        <div class="form-group">
          <%= f.label:タイトル %>
          <%= f.text_field :forum_title,:placeholder=>"タイトル", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label:本文 %>
          <%= f.text_area :forum_content, rows: 5, :placeholder=>"質問や相談などを投稿して共有してみましょう", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto mt-3 mb-5">
        <%= f.submit"投稿" ,class: "btn btn-blue" %>
      </div>
    </div>
  <% end %>
</div>
