<div class="container">
<div class="error-message"><%= render "layouts/error", obj: @forum %></div>
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        トピック詳細
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-12 mx-auto">
      <h5 class="forum-title mt-2"><%= @forum.forum_title %></h5>
      <% if customer_signed_in? && (current_customer.name != "ゲストユーザー") %>
        <span id="attention_buttons_<%= @forum.id %>" class="attention mr-2">
          <%= render"public/attentions/attentions",forum: @forum %>
        </span>
      <% end %>
      <h5 class="forum-content p-3"><%= @forum.forum_content %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-12 mx-auto forum-item">
      <%= link_to customer_path(@forum.customer) do %>
        <%= image_tag @forum.customer.get_customer_image(100,100),class: "recipe-customer-image" %>
        <span class="name-link mr-2"><%= @forum.customer.name%></span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-12 mx-auto text-right">
      <% if @forum.customer == current_customer %>
          <%= link_to edit_forum_path(@forum),class: "btn btn-green my-5 mr-3" do %>
            <i class="fas fa-edit"></i> トピック編集
          <% end %>
          <%= link_to forum_path(@forum),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-red my-5" do %>
            <i class="fas fa-trash-alt"></i> トピック削除
          <% end %>
        <% else %>
          <% if customer_signed_in? && (current_customer.name != "ゲストユーザー") %>
            <span id="forum_report_buttons_<%=@forum.id%>"><%= render "public/forum_reports/forum_reports",forum: @forum %></span>
          <% end %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-12 mx-auto">
      <p class="comment-heading">コメント</p>
        <div id="comment_list">
          <% if @forum.forum_comments.present? %>
            <%= render"public/forum_comments/forum_comment_list", forum_comments: @forum_comments %>
          <% else %>
            <p class="ml-5 my-5">〜コメントはありません〜</p>
          <% end %>
        </div>
        <div class="row my-3">
          <div class="mx-auto"><%= paginate @forum_comments %></div>
        </div>
    </div>
      <% if customer_signed_in? && (current_customer.name != "ゲストユーザー") %>
        <div class="col-12 col-md-12 col-lg-4 d-flex align-items-end mx-auto comment-form">
          <%= render"public/forum_comments/forum_comment_form", forum: @forum, forum_comment: @forum_comment %>
        </div>
      <% end %>
  </div>
</div>