<% recipe.comments.each do |comment| %>
  <table class="table table-borderless">
    <tbody>
      <tr class="row d-flex align-items-center">
        <td class="col-xs-3 col-lg-2"><%= image_tag comment.get_comment_image(100,100) %></td>
        <td class="col-xs-5 col-lg-5"><%= comment.comment %></td>
        <td class="col-xs-2 col-lg-3 text-right">
          <%= link_to customer_path(comment.customer) do %>
            <small>
              <%= image_tag comment.customer.get_customer_image(30,30),class: "rounded-circle" %>
              <span class="name-link"><%= comment.customer.name %></span>
            </small>
          <% end %>
        </td>
        <td class="col-xs-2 col-lg-2 text-right">
          <% if comment.customer==current_customer %>
            <%= link_to recipe_comment_path(comment.recipe, comment), method: :delete, remote: true, class: "btn btn-danger btn-circle btn-sm m-1" do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
