<%=form_with model: comment, url: recipe_comments_path(recipe), method: :post, local: false do |f|%>
  <div class="form-group">
    <%= f.file_field :comment_image, accept: 'image/*' %>
  </div>
  <div class="form-group">
    <%=f.text_area :comment, rows: "2", placeholder: "レビュー、コメントはこちら" ,class: "form-control"%>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
  </div>
  <div class="form-group text-right">
    <%= button_tag type: 'submit',class: "btn btn-sm btn-green" do%>
      <i class="fas fa-paper-plane"></i> 送信
    <% end %>
  </div>
<%end%>


