<div class="container">
  <div class="low">
    <div class="col-xs-12 col-md-12 col-lg-10 mx-auto">
    <div class="swiper my-4">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><%= image_tag"mountain.jpg",class: "swiper-image" %></div>
        <div class="swiper-slide"><%= image_tag"mountain3.jpg",class: "swiper-image" %></div>
        <div class="swiper-slide"><%= image_tag"flower2.jpg",class: "swiper-image" %></div>
        <div class="swiper-slide"><%= image_tag"mountain4.jpg",class: "swiper-image" %></div>
        <div class="swiper-slide"><%= image_tag"flower.jpg",class: "swiper-image" %></div>
        <div class="swiper-box"><h1 class="swiper-text">や ま レ ピ ！</h1></div>
      </div>
      <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        新着レシピ
      </h5>
    </div>
  </div>
  <div class="row">
    <%= render"public/recipes/recipes",recipes: @recipes %>
  </div>

</div>
