<div class="container">
<div class="error-message"><%= render "layouts/error", obj: @customer %></div>
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        会員情報編集
      </h5>
    </div>
  </div>
  <%= form_with model: @customer,url:admin_customer_path(@customer.id),method: :patch,local: true do |f| %>
  <div class="row">
    <div class="mx-auto col-12 col-md-8 col-lg-5 my-5">
      <tr>
        <td><%= f.file_field:customer_image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td><!--画像のプレビュー-->
          <div id="customer-image-preview">
            <% if @customer.customer_image.attached? %>
              <%= image_tag @customer.get_customer_image(500,500), id: "customer-preview" %>
            <% end %>
           </div>
        </td>
      </tr>
    </div>
    <div class="mx-auto col-12 col-md-8 col-lg-6 pt-lg-5">
      <table class="table table-borderless mt-1 mb-5">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td><%= f.label:ニックネーム %></td>
            <td><%= f.text_field:name, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label:メールアドレス%></td>
            <td><%= f.email_field:email, class: "form-control" %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <span class="mr-2"><%= f.radio_button :is_deleted, false %>有効</span><%= f.radio_button :is_deleted, true %>退会
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
      <div class="text-center col-12 col-md-12 col-lg-12">
        <%= f.submit "変更を保存" ,class: "btn btn-blue mb-5"%>
      </div>
    </div>
  <%end%>
</div>
