<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        会員情報詳細
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-md-10 col-lg-3 offset-md-1 my-3">
      <%=image_tag @customer.get_customer_image(250,250),class:"rounded-circle"%>
      <h5 class="text-center customer-name"><i class="far fa-user"></i><%=@customer.name%></h5>
    </div>
    <div class="col-sm-6 offset-sm-4 col-md-8 col-lg-6 offset-md-1 my-5 pt-lg-3">
      <%=form_with model:@customer,url:admin_customer_path(@customer.id),method: :patch,local:true do |f|%>
      <table class="table table-borderless mb-5">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%=@customer.id%></td>
          </tr>
          <tr>
            <td><%=f.label:ニックネーム%></td>
            <td><%=f.text_field:name, class: "form-control"%></td>
          </tr>
          <tr>
            <td><%=f.label:メールアドレス%></td>
            <td><%=f.email_field:email, class: "form-control"%></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <%= f.radio_button :is_deleted, false%>有効  <%= f.radio_button :is_deleted, true%>退会
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit "  変更を保存  " ,class:"btn btn-blue"%>
            </td>
          </tr>
        </tbody>
      </table>
      <%end%>
    </div>
  </div>
</div>

