<div class="container">
<div class="error-message"><%= render "layouts/error", obj: @customer %></div>
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        会員情報編集
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-12 col-md-6 col-lg-6 my-5 pt-lg-3">
      <%= form_with model: @customer,url:admin_customer_path(@customer.id),method: :patch,local: true do |f| %>
      <table class="table table-borderless mb-5">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td><%= f.label:ニックネーム %></td>
            <td><%= f.text_field:name, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label:メールアドレス%></td>
            <td><%= f.email_field:email, class: "form-control" %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <span class="mr-2"><%= f.radio_button :is_deleted, false %>有効</span><%= f.radio_button :is_deleted, true %>退会
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="mx-auto">
          <%= f.submit "変更を保存" ,class: "btn btn-blue"%>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>

