<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-3 pr-4 mt-5">
        会員情報詳細
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-12 col-md-5 col-lg-5 mt-5">
      <%= image_tag @customer.get_customer_image(500,500),class: "customer-image" %>
      <h5 class="text-center customer-text"><i class="far fa-user"></i><%= @customer.name %></h5>
    </div>
    <div class="col-12 col-md-7 col-lg-7 my-5 pt-3">
      <table class="table table-borderless mb-5">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <% if @customer.is_deleted == false %>
              <td class="text-success font-weight-bold">有効</td>
            <% else %>
              <td class="text-muted font-weight-bold">退会</td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="mx-auto">
          <%= link_to"編集する",edit_admin_customer_path(@customer.id),class: "btn btn-green mr-5 mt-3" %>
          <%= link_to"レシピ一覧",admin_recipes_path,class: "btn btn-blue mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
