<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="midashi pl-4 pr-5 my-5">
        ログイン
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-12 col-md-8 col-lg-6 pb-3">
      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="form-group">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:placeholder=>"sample@example.com",class: "form-control devise-form" %>
        </div>
        <div class="form-group">
            <%= f.label :パスワード %>
            <%= f.password_field :password, autocomplete: "current-password" ,class: "form-control devise-form" %>
        </div>
        <div class="form-group">
            <%= f.submit "  ログイン  ",class: "btn btn-blue mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-12 col-md-8 col-lg-6 pb-5">
      <p>会員登録がお済みでない方は<%= link_to"こちら",new_customer_registration_path,class: "kochira-link" %></p>
    </div>
  </div>
</div>
