<!DOCTYPE html>
<html>
  <head>
    <title>Yamarepi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
      <main>
        <%= render 'layouts/flash' %>
        <%= yield %>
        <span id="back">
          <a href="">
            <%= image_tag asset_path('pagetop.png'), data: {"turbolinks"=>false}, class: "pagetop" %>
          </a>
        </span>
      </main>
    <%= render "layouts/footer" %>
  </body>
</html>
